*.pyc
*.bak
\#*\#
.\#*
credentials.json
tibia_terminator/credentials.json
src/app_config.py
src/char_config.py
scripts/user/*
env/*
.tibia_reconnector.lock
char_config.py
app_config.py
.vscode
char_configs/*
TAGS
workspace.code-workspace
*/**/workspace.code-workspace
*/**/app_config.json*
*/**/app_status.json*
app_status.json*