[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
black = "*"
yapf = "*"

[packages]
python-xlib = "*"
pillow = "*"
commentjson = "*"
marshmallow = "*"
keyboard = "*"
pyautogui = "*"
"tibia.py" = "*"
requests = "*"
pynput = "*"
psutil = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
